@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #f9f9f9;
	margin: 0;
	position:relative;
}
a {
	color: #FFD68A;
  text-decoration: none;
}

select:focus,
a:focus {
  outline: 3px solid #ff4444;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f9f9f9;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #dbdbdb;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: #252831;
}
nav h1 {
  margin: auto;
  text-align: center;
}
nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

nav.breadcrumb {
  height: auto;
}

#breadcrumb {
    padding: 0.7rem 2rem 1rem;
    list-style: none;
    background-color: #f9f9f9;
    font-size: 1rem;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 60vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 4rem;
  background-color: #175A87;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;

  width: 100%;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.9rem;
  height: 2rem;
  letter-spacing: 0;
  padding: 0 0.6rem;
  width: 40%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 1rem;
  min-height: 380px;
  padding: 0 1rem 1.5rem;
  text-align: left;
  max-width: 15rem;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /* min-height: 248px; */
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #463c29;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.5rem 0 0.5rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}
#restaurants-list li a {
  background-color: #463c29;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0 0;
  padding: 0.5rem 2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #maincontent {
  margin-top: 8rem;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  /*padding: 0 1rem;*/
}

#restaurant-name,
#restaurant-img,
#restaurant-cuisine,
#restaurant-address,
#restaurant-hours,
#reviews-container h2,
#reviews-list {
  display: block;
  width: 90%;
  margin: 1rem auto;
}

#restaurant-name {
  color: #463c29;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img,
#reviews-list li {
	border-radius: 1rem 0;
}
#restaurant-address {
  font-size: 1rem;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding: 0.3rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#reviews-container h2 {
  color: #463c29;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  padding: 0;
}

.review h3 {
  background-color: #252831;
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.reviewer-name,
.review-date,
.rating,
.comments {
  margin: 1rem;
}

.rating {
  background-color: #463c29;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem 1rem; 
  width: 7rem;
}

.comments {
  color: #666;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
}

#restaurant-hours td {
  color: #4e4e4e
}
